<%- include('partials/header', { title: 'Error' }) %>
<div class="card">
  <h1>Not so fast</h1>
  <p><%= message %></p>
  <p><a href="javascript:history.back()">Go back</a></p>
</div>
<%- include('partials/footer') %>
